Package.resolved
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.swiftpm/xcode/package.xcworkspace/xcuserdata/erickva.xcuserdatad/UserInterfaceState.xcuserstate
.swiftpm/xcode/xcuserdata/erickva.xcuserdatad/xcschemes/xcschememanagement.plist
